5272: IANA Considerations

IANA had more questions about references in the [SMI registries](https://www.iana.org/assignments/smi-numbers/smi-numbers.xhtml) CMC-related references to [RFC 2797](https://datatracker.ietf.org/doc/html/rfc2797), [RFC 5272](https://datatracker.ietf.org/doc/html/rfc2797), and [RFC 6402](https://datatracker.ietf.org/doc/html/rfc6402). After a review, Joe and I think that all but the references for the ASN.1 modules from [RFC 2797](https://datatracker.ietf.org/doc/html/rfc2797), [RFC 5272](https://datatracker.ietf.org/doc/html/rfc2797), and [RFC 6402](https://datatracker.ietf.org/doc/html/rfc6402) need to change.

The IESG is also lookin for links to the registry ¯\_(ツ)_/¯