Section 4 - Title change

I understand that this is just a minimal update to RFC 5273, Section 4. That
said...:

The title should be "HTTP-based Protocol" (HTTPS is just a variant of HTTP)


